html{
	background-color: #333;
	color: #455A64;
}
.jumbotron{
	color: #0288D1;
	background-color: #333;
}
.page-header{
	background-color: #333;
	border-bottom-color: #333;
	color: #0288D1;
	text-align: center;
}
